body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 960px;
    margin: auto;
}

h1 {
    color: #343a40;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

header {
    background-color: #22047da5;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}


footer {
    background-color: #22047da5;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
